body{
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
}

.contenedor-calculadora{
    text-align: center;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    margin-top: 50px;
    width: min-content;
    display: grid;
    height: 812px;
    @media(min-width: 768px){
        width: 700px;
        height: 390.8px;
        display: flex;
        justify-content: space-between;
    }
    .contenedor-input{
        width: 350px;
        input[type="text"]{
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            display: inline-block;
            margin: 10px 5px;
            border-radius: 10px;
            border: solid 2px #979797;
            height: 30px;
            font-size: 20px;
            width: 70%;
        }
        @media(min-width: 768px){
            width: 450px;
        }
        .contenedor-ec{
            display: flex;
            justify-content: space-between;
        }
        button{
            border: none;
            width: auto;
            height: 35px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 20px;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        }
        .boton-calcular{
            background-color: #0A02ED;
            transition-property: background-color;
            transition: 200ms;
            color: white;
            margin: 10px 5px;
            &:hover{
                background-color: #08009C;
                cursor: pointer;
            }
        }
        h2{
            margin: 10px 0;
        }
        .teclado{
            display: grid;
            grid-template-columns: repeat(5, 2fr);
            #AC, #DEL{
                background-color: #ED3302;
                color: #FFFFFF;
                &:hover{
                    background-color: #D13102;
                    cursor: pointer;
                }
            }
            #igual{
                background-color: #0A02ED;
                color: #FFFFFF;
                &:hover{
                    background-color: #08009C;
                    cursor: pointer;
                }
            }
        }
    }
    .contenedor-resultado{
        overflow-y: scroll;
        border: solid 2px #e1e1e1;
        margin: 10px 5px 5px 5px;
        border-radius: 10px;
        height: 375.8px;
        width: auto;
        padding: 0 10px;
        @media(min-width: 768px){
            overflow-y: scroll;
            width: 258px;
        }
        .resultado{
            margin: 10px 0;
            &.error{
                color: #ED3302;
            }
            &.exito{
                color: #02D92A;
            }
        }
    }
}
.boton-calculadora{
    margin: 5px;
    background-color: #e1e1e1;
    transition-property: background-color;
    transition-duration: 200ms;
    &.boton-izquierda{
        grid-column: 1 / 3;
    }
    &.boton-derecha{
        grid-column: 4 / 6;
    }
    &:hover{
        cursor: pointer;
        background-color: #c4c4c4;
    }
}