body{
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
}

.contenedor-calculadora{
    text-align: center;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: min-content;
    height: 350px;
    @media(min-width: 768px){
        width: 700px;
    }
    .contenedor-input{
        width: 400px;
        input[type="text"]{
            margin: 10px 0;
            border-radius: 10px;
            border: solid 2px #979797;
            height: 30px;
            font-size: 20px;
        }
        button{
            border: none;
            width: auto;
            height: 35px;
            margin: 10 0;
            border-radius: 10px;
            font-weight: bold;
            font-size: 20px;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        }
        .boton-calcular{
            background-color: blue;
            transition-property: background-color;
            transition: 200ms;
            color: white;
            margin-bottom: 10px;
            &:hover{
                background-color: darkblue;
                cursor: pointer;
            }
        }
        h2{
            margin: 10px 0;
        }
        .teclado{
            display: grid;
            grid-template-columns: repeat(5, 2fr);
        }
    }
    .contenedor-resultado{
        overflow-y: scroll;
        .resultado{
            &.error{
                color: red;
            }
            &.exito{
                color: green;
            }
        }
    }
}
.boton-calculadora{
    margin: 5px;
    background-color: #e1e1e1;
    transition-property: background-color;
    transition-duration: 200ms;
    &:hover{
        cursor: pointer;
        background-color: #c4c4c4;
    }
}