body{
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
}

.contenedor-input{
    text-align: center;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    justify-content: center;
    width: 100%;
    input[type="text"]{
        margin: 10px 0;
        border-radius: 10px;
        border: solid 2px #979797;
        height: 30px;
        font-size: 20px;
    }
    button{
        background-color: blue;
        border: none;
        width: auto;
        height: 35px;
        border-radius: 10px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        transition-property: background-color;
        transition-duration: 200ms;
        &:hover{
            cursor: pointer;
            background-color: darkblue;
        }
    }
    .resultado{
        &.error{
            color: red;
        }
        &.exito{
            color: green;
        }
    }
}